.navbar{
    background-color: rgb(33, 32, 32);
    border-bottom-color: 10px orange;
}
.navbar-brand{
    margin-left: 60px;
}
#navbar{
    color: white;
}
hr{
    width: 100%;
}
h1{
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-weight: 5000;
}
p a{
    color: white;
    text-decoration: none;
}
p a:hover{
    color: orange;
    text-decoration: orange underline;
}